.bg-purple {
    background-color: #9c27b0 !important;
    color: white !important;

}

.bg-light-blue {
    background-color: #90caf9 !important;
    color: white !important;

}

.bg-light-red {
    background-color: #c33c66 !important;
    color: white !important;

}