/* Main app container */
.app {
  position: relative;
  /*overflow-x: hidden; !* Prevent horizontal scrolling *!*/
}

.content {
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 1;
}

.star-field-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.bg-star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle linear infinite;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

section {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

#hero, #about, #projects, #contact, #educationAndExperienceRef, #skillsref {
  padding-top: 80px;
  scroll-margin-top: 80px;
}

@media (max-width: 768px) {
  .content {
    margin-right: 0;
    padding: 10px;

  }
}